/* --------------------COLORS-------------------- */

// Theme Colors
$primary-theme-color: #1924c1;

// Background Colors
$primary-background-color: white;
$primary-background-color-dark: whitesmoke;

// Text Colors
$primary-text-color: #1924c1;

// Button Colors
$primary-button-color: #1924c1;
$primary-button-color-dark: #0f1676;
