@use "../../sass/abstracts/variables";
@use "../../sass/abstracts/mixins";

.task-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  &__wrapper {
    display: flex;
    justify-content: center;

    @include mixins.phone {
      flex-direction: column;
      align-items: center;
    }
  }

  &__error-message {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #f44336;

    @include mixins.phone {
      height: unset;
      margin-top: 1rem;
      font-size: 1rem;
      text-align: center;
    }
  }

  &__radio-container {
    display: flex;
    align-items: center;

    @include mixins.phone {
      font-size: 2rem;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    input[type="radio"] {
      cursor: pointer;
      margin-right: 1rem;

      @include mixins.phone {
        margin: 0;
      }
    }

    label {
      margin-right: 2rem;

      @include mixins.phone {
        margin-right: 0;
      }
    }
  }

  &__search-container {
    border: 0.1rem solid variables.$primary-theme-color;
    border-radius: 0.5rem;
    overflow: hidden;

    @include mixins.phone {
      margin: 2rem 0;
      width: 90%;
    }

    input {
      font-family: "Roboto", sans-serif;
      border: none;
      padding: 1rem 1.5rem;
      outline: none;
      font-weight: 400;
      font-size: 1.6rem;

      @include mixins.phone {
        width: 75%;
        font-size: 1.8rem;
      }
    }

    button {
      background-color: variables.$primary-button-color;
      color: white;
      border: none;
      height: 100%;
      padding: 1rem 2rem;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 1.6rem;
      cursor: pointer;
      transition: all 0.2s;

      @include mixins.phone {
        width: 25%;
        height: 100%;
        padding: 1rem;
        font-size: 1.8rem;
      }

      &:hover {
        background-color: variables.$primary-button-color-dark;
      }
    }
  }

  &__status {
    display: flex;
    align-items: center;
    width: 20rem;
    margin-left: 2rem;
    font-weight: 700;

    @include mixins.phone {
      margin: 0;
      justify-content: center;
      font-size: 2rem;
    }

    span {
      font-weight: 300;
      margin-left: 1rem;
    }
  }
}
